p{
    text-decoration: underline;
    font-size: 1.4rem;
    background-color: red;
    color: white;
    padding-bottom:6px; 
    font-family: 'Indie Flower', cursive;
    
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 7vh;
}

label{
    color: lightgreen;
    background-color: black;
}


