<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=La+Belle+Aurore&family=Permanent+Marker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=La+Belle+Aurore&family=Merienda+One&family=Permanent+Marker&display=swap" rel="stylesheet">
<div class="container mt-5">
    <h2>Para mi mamá:</h2>

     <p>Nunca podre agradecerte tantas cosas que has hecho por mi, 
    y que me has enseñado para ser siempre mejor persona.
    Eres muy importante en mi vida y quiero que lo recuerdes siempre.
    <br><br> <span style="display:table;
    margin-left: auto;
    margin-right: auto;"> Te Quiero Mamá! </span></p>

   
</div>
